body{
    color:@text;
    margin: 0px;
}

.header{
    .image();
    color: @text;
}

.header{
    color: @text;
}

.intro{
    background-color: @teal;
}

.sectionDark{
    background-color: @dark;
    color: @text;
}

.WhatItDo{
    background-color: @purple;
}

.footer{
    .image();
}