body{
    background-color: @purple;
    color:@text;
    margin: 0px;
    font-family: @fontText;
}

.menuBar{
    background-color: @dark;
    .menu();

}

.header{
    background-image: url('TopPic.jpg');
    
    .image();
    .center();
    color: @text;

    .LogInButton{
        .buttonLogin();
    }

}

.sectionDark{
    background-color: @dark;
    color: @text;
}

.sectionDark1{
    .center();
}
.sectionDark2{
    .center();
}
.sectionDark3{
    .center();
}

.WhatItDo{
    background-color: @purple;
    .image();
    .center();
}

.footer{
    .center();
    background-color: @dark;

    .socialMedia{
        display: flex;
        justify-content: space-around;
    }
}